<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--<title> Registration or Sign Up form in HTML CSS | CodingLab </title>-->
        <link rel="stylesheet" href="/style3.css" />
    </head>

    <body>
        <div class="button wrapper">
            <a href="/admin"><input type="Submit" value="--back" /></a>
        </div>
        <div class="wrapper">
            <h2>create user</h2>
            <form action="/admin" method="post">
                <div class="input-box">
                    <input
                        type="text"
                        placeholder="first name"
                        required
                        name="first_name"
                    />
                </div>
                <div class="input-box">
                    <input
                        type="text"
                        placeholder="last name"
                        required
                        name="last_name"
                    />
                </div>
                <div class="input-box">
                    <input
                        type="text"
                        placeholder="user name"
                        required
                        name="username"
                    />
                </div>
                <div class="input-box">
                    <input
                        type="password"
                        placeholder="password"
                        required
                        name="password"
                    />
                </div>
                <div class="input-box">
                    <input
                        type="text"
                        placeholder="phone number"
                        required
                        name="phone_number"
                    />
                </div>
                <div class="input-box">
                    <input type="text" placeholder="age" required name="age" />
                </div>
                <!-- Address -->
                <div class="input-box">
                    <input
                        type="text"
                        placeholder="Address"
                        required
                        name="address_id"
                    />
                </div>
                <div class="input-box">
                    <label for="gender"> Select user type</label>
                    <select name="userType_id">
                        <option value="1" selected>Admin</option>
                        <option value="2">Volunteer</option>
                        <option value="3">trainer</option>
                    </select>
                </div>

                <div class="input-box button">
                    <input type="Submit" value="add Now" />
                </div>
            </form>
        </div>
    </body>
</html>
