<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--<title> Registration or Sign Up form in HTML CSS | CodingLab </title>-->
        <link rel="stylesheet" href="/style3.css" />
    </head>

    <body>
        <div class="button wrapper">
            <input type="Submit" value="<--back" />
        </div>
        <div class="wrapper">
            <h2>create and update users</h2>
            <form action="#">
                <div class="input-box">
                    <input type="text" placeholder="id" required />
                </div>
                <div class="input-box">
                    <input type="text" placeholder="first name" required />
                </div>
                <div class="input-box">
                    <input type="text" placeholder="user name" required />
                </div>
                <div class="input-box">
                    <input type="text" placeholder="last name" required />
                </div>
                <div class="input-box">
                    <input type="text" placeholder="age" required />
                </div>
                <div class="input-box">
                    <input type="password" placeholder="password" required />
                </div>
                <div class="input-box">
                    <input type="text" placeholder="phone number" required />
                </div>
                <div class="input-box">
                    <input type="text" placeholder="user type id" required />
                </div>
                <div class="input-box">
                    <input type="text" placeholder="experience" required />
                </div>

                <div class="input-box button">
                    <input type="Submit" value="add Now" />
                </div>
                <div class="input-box button">
                    <input type="Submit" value="update" />
                </div>
            </form>
        </div>
    </body>
</html>
