<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <% for( let i = 0; i < works.length; i++ ) { %>
        <ul>
            <li><%= works[i].id %></li>
            <li><%= works[i].location %></li>
            <li><%= works[i].estimated_time %></li>
            <li><%= works[i].work_info %></li>
        </ul>
        <% } %>
    </body>
</html>
