<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Home</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        />
    </head>
    <body>
        <% if (failMessage.length!==0) { %>
        <div id="flash-message" class="alert alert-danger">
            <%= failMessage %>
        </div>
        <% } %>
        <form action="/login" method="post">
            <div class="container mt-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6">
                        <div class="card px-5 py-5" id="form1">
                            <div class="form-data" v-if="!submitted">
                                <div class="forms-inputs mb-4 pl-5">
                                    <span>username</span>
                                    <input
                                        autocomplete="off"
                                        type="text"
                                        v-model="email"
                                        name="username"
                                        v-bind:class="{'form-control':true, 'is-invalid' : !validEmail(email) && emailBlured}"
                                        v-on:blur="emailBlured = true"
                                    />
                                    <div class="invalid-feedback">
                                        A valid email is required!
                                    </div>
                                </div>
                                <div class="forms-inputs mb-4 pl-5">
                                    <span>Password</span>
                                    <input
                                        autocomplete="off"
                                        type="password"
                                        name="password"
                                        v-model="password"
                                        v-bind:class="{'form-control':true, 'is-invalid' : !validPassword(password) && passwordBlured}"
                                        v-on:blur="passwordBlured = true"
                                    />
                                    <div class="invalid-feedback">
                                        Password must be 8 character!
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <button
                                        v-on:click.stop.prevent="submit"
                                        class="btn btn-dark w-100"
                                    >
                                        Login
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <script>
            const flashMessage = document.getElementById('flash-message');

            // Hide the flash message after 3 seconds
            setTimeout(function () {
                console.log('Timeout function called.');
                flashMessage.style.display = 'none';
            }, 3000);
        </script>
    </body>
</html>
